.pad{
	padding-top: 5px;
}
.pad1{
	padding-top: 7px;
}

.wrapper {
  height: 60vh;
}

.star{
  color: goldenrod;
  font-size: 2.0rem;
  padding: 0 1rem; /* space out the stars */
}
.star::before{
  content: '\2606';
  cursor: pointer;
}
.star:hover::before{
  /* the :hover should come first */
  content: '\2605';
  color: #bada55;
}
.star.rated::before{
  /* the :hover should come first */
  content: '\2605';
}
.alert-custom{
  
  color:#D89448;
}

.btn-warning {
    background-color: #D89448 !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

<!-- Footer  Related -->
.footer {
  height: 60px;
}

.footer-basic {
  padding:40px 0;
  color:#D89448;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:16px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:5;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:20px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}
<!-- END of Footer  Related -->